{%extends 'user.base.html'%}

{%block title%} All Products {%endblock%}

{%block main_block%}

<div class="text-center p-10">
  <h1 class="font-bold text-4xl mb-4">Our All Products</h1>
</div>

<!-- ✅ Grid Section - Starts Here 👇 -->
<section id="Projects"
  class="w-3/4 mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">


  <!--   ✅ Product card 1 - Starts Here 👇 -->

     {%for p in page_obj%}
  <div class="w-80 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
      <a href="{%url 'product-detail' p.id%}">

          {%if p.picture%}
          <img src="{{p.picture.url}}"
                  alt="Product" class="object-cover rounded-t-xl" style="max-height: auto; max-width: 100%;" />
          {%else%}
          <img src="https://images.unsplash.com/photo-1646753522408-077ef9839300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NjZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                  alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
          {%endif%}

          <div class="px-4 py-3 w-72">
              <span class="text-gray-400 mr-3 uppercase text-xs">{{p.brand_object}}</span>
              <p class="text-lg font-bold text-black truncate block capitalize">{{p.title}}</p>
              <div class="flex items-center">
                  <p class="text-lg font-semibold text-black cursor-auto my-3">₹{{p.price}}</p>
                  <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                          fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                              d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                          <path
                              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                      </svg></div>
              </div>
          </div>
      </a>
  </div>
  {%endfor%}
  <!--   🛑 Product card 1 - Ends Here  -->

</section>

<!-- 🛑 Grid Section - Ends Here -->





  <!-- {%if page_obj.has_previous %}
  
  <a href="?page={{page_obj.previous_page_number}}">Previous</a>
  
  {%endif%}
  
  {%if page_obj.has_next%}
  
  <a href="?page={{page_obj.next_page_number}}">Next</a>
  
  {%endif%} -->


  <div class="flex justify-center gap-2 mt-10">

    {%if page_obj.has_previous%}
    <a href="?page={{page_obj.previous_page_number}}"
        class="inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18">
            </path>
        </svg>
        <span class="ml-1 font-bold text-lg">Previous</span>
    </a>
    {%endif%}

    {%if page_obj.has_next%}
    <a href="?page={{page_obj.next_page_number}}"
        class="inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-indigo-500 hover:bg-indigo-50">
        <span class="mr-1 font-bold text-lg">Next</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3">
            </path>
        </svg>
    </a>
    {%endif%}

</div>

{%endblock%}